@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4066ff;
  overscroll-behavior: none;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  background-image: linear-gradient(0deg, #4066ff 0%, #000 100%);
  padding: 7.2rem 0 1rem 0;
  color: #fff;
  top: 0;
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 0.7rem 0 0.7rem;
  top: 0;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  margin-top: 0.6rem;
  font-size: 1.3rem;
}

nav a:hover {
  color: #4066ff;
}

nav a {
  color: inherit;
}

.logo {
  font-size: 3rem;
  font-family: "Lobster", sans-serif;
  text-shadow: 4px 4px #5c5c5c8a;
}

.mobile-logo {
  display: none;
  text-shadow: 4px 4px #5c5c5c8a;
}

.search-hero {
  text-align: center;
  line-height: 3rem;
}

.search-hero h1 {
  font-size: 3.5rem;
}

.search-hero p {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.watchlist-hero {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 3rem;
}

.searchbox {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.searchbox input {
  border: 0;
  padding: 0.3rem;
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 1.2rem;
}

.searchbox button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fff;
  border: 0;
  padding: 0.5rem;
  cursor: pointer;
}

.searchbox svg:active {
  transform: scale(0.9);
}

.explore-area {
  text-align: center;
  line-height: 2.5em;
  margin-bottom: 15rem;
}

.explore-area h2 {
  font-size: 5rem;
  font-weight: 500;
}

.movie-results {
  padding-top: 21rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
}

.movie {
  display: flex;
  flex-direction: column;
  margin: 0.7rem;
  background-color: #525252;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 3px 3px 3px #000000;
}

.poster {
  height: 400px;
  overflow: hidden;
}

.movie-plot {
  background-color: #00000088;
  color: #ffff;
  text-shadow: 2px 2px #00000094;
  text-align: center;
  height: 500px;
  padding: 7rem 3rem;
  display: none;
}

.poster:hover .movie-plot {
  display: block;
}

.movie-info {
  color: #fff;
  padding-bottom: 0.7rem;
}

.movie-info h3 {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5rem;
  background-image: linear-gradient(0deg, #535353 0%, #000 100%);
  padding: 0.2rem 0.3rem 0.5rem 0.3rem;
}

.movie-info p {
  line-height: 1.2rem;
}

.watchlist-btn {
  font-size: 1.3rem;
  margin-top: 0.3rem;
  text-decoration: underline;
}

.watchlist-btn:hover {
  color: #728eff;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 0.3rem;
  text-align: center;
}
